
<div class="jumbotron">
  <h2>Welcome to Isabel and Emily's Games!</h2>
</div>
<div *ngIf="!gameInProgress">
  Right now there is only tic-tac-toe. Would you like to play a game of tic-tac-toe?
</div>
<div *ngIf="gameInProgress" class="tic-tac-toe">
  <h2>TIC-TAC-TOE</h2>
</div>
<hr/>

<div *ngIf="gameInProgress;then gameRows else gameMenu"></div>

<ng-template #gameRows>
  <div class="container">
    <game-row *ngFor="let rowNum of rowNumbers"
              [isCenter]="rowNum === 1"
              [rowNumber]="rowNum">"
    </game-row>
    <div *ngIf="gameOver">
      <button class="btn btn-default" (click)="restartGame()">Play Again!</button>
      <button class="btn btn-default" (click)="backToMenu()">Back to Menu</button>
    </div>
  </div>
</ng-template>

<ng-template #gameMenu>
  <game-start-menu></game-start-menu>
</ng-template>
